
*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(./background_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}    

.logo{
    height: 4rem;
    width: 4rem;
}

img{
    border-radius: 3em;
}


.navbar
{
    width :85%;
    margin:auto;
   padding:35px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin :0 20px;
    position: relative;

}
.navbar ul li a{
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      
}
.navbar ul li a :hover{
    color: #0d0d0d;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #0d0d0d;
     position: absolute;
     left:0;
     bottom:-5px;
     transition: 0.5s;
}


     .navbar ul li:hover::after{
        width:100%;
     }
.move{
    margin-top: 2em;
    color: white;
    font-size: 2em;
}
.content
{
    width:100%;
    position: absolute;
    top:54%;
    transform: translateY(-50%);
    text-align: center;
    color:#fff;
}
.content h1{
    font-size: 60px;
    margin:40px;;
}
.content input{
    padding-left: 20px;
    font-size: 20px;
}
::placeholder
{
    color: black;
    font-size: 20px;
    
}
button{
    width: 6em;
    padding: 5px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border:2px solid#1e1e1e;
    cursor: pointer;

}
.bottom
{
    width: 100%;
    display: flex;
    position: absolute;
    top:70%;
   
}
.desclaimer
{
    width: 50%;
    margin-left: 2em;
    font-size: 1em;
    color:white;
    padding-top: 9%;
    white-space: nowrap;
  width: 0;
  animation: typeText 5s steps(40) forwards;
}
@keyframes typeText {
    to { width: 50%; }
  }

.chatbox_btn{
    position: absolute;
    height: 4em;
    padding-top: 6%;
    margin-left: 90%;
    cursor: pointer;
}
.imgbot{
    width: 80px;
height: 80px;
}

.chatbot
{
    display: none;
    position: absolute;
    width:200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    /* height: 4em; */
    /* padding-top: 6%; */
    margin-left: 75%;
    margin-top: -30px;
}

.chatbox_btn:hover + .chatbot{
    display: block;
}




