{%load static%}
<!DOCTYPE html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="{%static 'signup.css'%}" type="text/css">
</head>
<body>
<div class="main">
    <div class="move" >
        <marquee direction="right"
         behavior="alternate">
          Welcome to MediNavi,<span style="color: red; font-size: 3rem;"> Sign-up</span>   page Lets Connect us!
    </marquee>
    </div>
    <form id="register" method="post">
        <label>First Name : </label>
        <br>
        <input type="text" name="fname" id="name" placeholder="Enter your first name">
        <br><br>
        <label>Last Name : </label>
        <br>
        <input type="text" name="lname" id="name" placeholder="Enter your last name">
        <br><br>
        <label>Your Age : </label>
        <br>
        <input type="number" name="age" id="name" placeholder="How old are you?">
        <br><br>
        <label>Email : </label>
        <br>
        <input type="email" id="name" placeholder="Enter your valid email">
        <br><br>
        <label>Password : </label>
        <br>
        <input type="password" id="name" placeholder="Create your password">
        <br><br>
        <label>Gender : </label>
        <br>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" name="gender" id="male">
        &nbsp;
        <span id="male">Male</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="gender" id="female">
        &nbsp;
        <span id="female">Female</span>
        <br><br>
        <input type="submit" value="Submit" name="submit" id="submit">
        <br><br>
        <label> Already have an account. <a href="">Login here</a></label>
    </form>
</div>
<div class="bottom" style="width: 100%;display: flex;position: absolute;top:70%;">
    {%include 'chatbot.html'%}
</div>
</body>
</html>
