<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
        <div class="heading">
            <h1>About us</h1>
            <p>At Medinevi, we are dedicated to revolutionizing the way you approach healthcare. Our mission is to empower individuals like you to take charge of your health journey with confidence and ease.</p>
        </div>
        <div class="container">
            <section class="about">
                <div class="about-image">
                    <img src="./about_img.jpg">

                </div>
                <div class="about-content">
                    <h2>What we believe</h2>
                    <p>We believe that healthcare should be accessible, transparent, and personalized. Our platform is designed to provide you with accurate information, tailored recommendations, and efficient solutions. Your health is unique, and your healthcare experience should be too.We are a passionate team of healthcare professionals, technology enthusiasts, and experts in artificial intelligence. Our collective goal is to bridge the gap between you and the healthcare services you need. With our innovative platform, you can access personalized health guidance, connect with specialist doctors, and book appointments conveniently from the comfort of your home.</p>
                <a href="#"class="read-more"> Read more</a>
                </div>
            </section>
        </div>
</body>
</html>