{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medinevi</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="navbar"> 
            <img  class="logo" src="{% static 'logo.jpg' %}"  alt="Medinevi">
            <ul>
                <li><a href="#"> appointment booking</a></li>
                <li><a href="/doctor_recom"> doctor recommendation</li><li><a href="/about">about</a></li>
                <li><a href="/login">log in</a></li>
                
            </ul>
        </div>
        <div class="content">
            <h1>Enter Symptoms</h1>
            
            
            <!-- my_template.html -->
            <form method="post" action="{% url 'yourMayHave' %}">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                    <input type="text" placeholder="Enter your Symptoms" name="Symptoms" class="Find" style="height: 3em; border-radius: 2em; width: 30em;" value="{{ Symptoms }}">
                    <!-- <button type="submit">Submit</button> -->
                </form>

            
            

        </div>
        <div class="move" >
            <marquee direction="right"
             behavior="alternate">
              Welcome to<span style="color: red; font-size: 3rem;"> MediNavi</span> , Your Health is Our Priority  Explore, Diagnose, Connect!
        </marquee>
        </div>
        <div class="bottom">
            <div class="desclaimer">
                <p>*Disclaimer:The information provided on this website is for general informational purposes only. It is not a substitute for professional medical  advice, diagnosis, or treatment.<br> Always seek the advice of your physician or another qualified health provider with any questions you may have regarding a medical condition. </p>
            </div>
            {%include 'chatbot.html'%}
        </div>
    </div>
</body>
</html>
