{%load static%}
<body>
    <div class="disease-form">
        <div id="dis_lb">Diseases: </div>
        <div id="dis_ch">chances:</div>
    </div>
    {% for form in disease_forms %}
    <div class="disease-form" onclick="toggleElement('{{form.disease.value}}')">
        <div id="dis_lb">
            {{ form.disease.value }}
        </div>
        <div id="dis_ch">
                {{ form.chances.value }}
        </div>
            <br>
            <div id='{{form.disease.value}}' style="display: none;">
                {% for doctor_form in form.doctors %}
                <div class="doctor-form">
                    <div id="doc_name">
                        {{ doctor_form.name.label_tag }}: {{ doctor_form.name.value }}
                    </div>
                    <div id="doc_spec">
                        {{ doctor_form.specialist.label_tag }}: {{ doctor_form.specialist.value }}
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
        {% endfor %}
</body>
<style>
    body{
        background-image: url("{%static 'background_2.jpg'%}");
        background-repeat: repeat-y;
        background-size: cover;
        display: flex;
        flex-direction: column;
        /* left: 50%; */
    }
    .disease-form {
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        margin-left: 50%;
        transform: translate(-50%);
        position: relative;
    }
    #dis_lb , #dis_ch{
        display: inline-block;
        width: 30%;
        margin-left: 10%;
    }
    #doc_name , #doc_spec {
        display: inline-block;
        width: 30%;
        margin-left: 10%;
    }
    .doctor-form{
        /* margin-left: 10%; */
        margin: 5px;
        padding: 5px;
        border: 1px solid #ddd;
        background-color: #f0f0f0;
    }
</style>
<script>
    function toggleElement(elementid) {
    var element = document.getElementById(elementid);
    
    if (element.style.display === "none") {
        element.style.display = "block";  // Show the element
    } else {
        element.style.display = "none";   // Hide the element
    }
}

</script>
