{% for form in disease_forms %}
        <div class="disease-form">
            {{ form.disease.label_tag }}: {{ form.disease.value }}<br>
            {{ form.chances.label_tag }}: {{ form.chances.value }}
            {% for doctor_form in form.doctors %}
                <div class="doctor-form">
                    {{ doctor_form.name.label_tag }}: {{ doctor_form.name.value }}
                    {{ doctor_form.specialist.label_tag }}: {{ doctor_form.specialist.value }}
                </div>
            {% endfor %}
        </div>
{% endfor %}
<style>
        .disease-form {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
    }

    .doctor-form {
        margin: 5px;
        margin-left: 10%;
        padding: 5px;
        border: 1px solid #ddd;
        background-color: #f0f0f0;
    }
</style>
